@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

body {
    font-family: sans-serif;
    box-sizing: border-box;    
}

header h1, header p {
    background-color:rgb(216, 60, 95);
    color:white;
    padding-left:20px;
}

header h1 {
    font-weight: 100;
    font-size: 2.5em;
    margin-bottom: 0; 
}

h2 {
    font-weight:100;
}

.p5_canvas {
    border: 1px solid #d3d3d3;
    margin: 20px;
}

.container {
    max-width: inherit;
}


/* Footer */
footer {
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0px;
    z-index: 9999;
}

.footer-copyright {
    border-top: 1px solid rgb(216, 60, 95);
    margin-top: 10px;
    padding: 5px;
    opacity: .5;
}

.right {
    float: right;
}