@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

body {
    font-family: sans-serif;
    padding:20px;
    box-sizing: border-box;
}

.p5_canvas {
    border:1px solid #d3d3d3;
    margin:20px;
}

input {
    cursor:pointer;
}

button {
    width:100px;
    padding:5px;
    margin:2px;
}